@media (min-width: 1200px) {
  .header .col-logo {
    width: 13.85%; }
  .header .menu {
    width: 61.15%; } }

.jms-row.banner-text {
  padding: 17px 0;
  background: #0070c9;
  color: #fff;
  text-align: center; }
  .jms-row.banner-text .addon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .jms-row.banner-text p {
    font-size: 16px;
    padding: 0 32px;
    letter-spacing: 1px;
    font-family: "samsungsharpsans-medium";
    margin-bottom: 0; }

.jms-slider-wrapper .text-1 {
  letter-spacing: 0.8px; }

.jms-slider-wrapper .text-2 {
  letter-spacing: 1.2px; }

.jms-slider-wrapper .text-3 {
  letter-spacing: 0.9px; }

.banner-1 .banner-content {
  left: 0;
  top: auto;
  width: 100%;
  padding: 0 50px;
  bottom: 66px;
  text-align: center; }
  .banner-1 .banner-content .text-1 {
    font-size: 42px;
    letter-spacing: 1.5px;
    line-height: 1.3;
    margin-bottom: 50px; }
  .banner-1 .banner-content p {
    color: #fff; }
  .banner-1 .banner-content a {
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.8px; }
    .banner-1 .banner-content a::after {
      content: "\f105";
      font-family: FontAwesome;
      font-size: 23px;
      margin-left: 10px;
      position: relative;
      bottom: -2px; }

.banner-2 .banner-content {
  left: 0;
  top: auto;
  width: 100%;
  padding: 0 50px;
  bottom: 38px;
  text-align: center; }
  .banner-2 .banner-content .text-1 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-bottom: 12px; }
  .banner-2 .banner-content .text-2 {
    font-size: 15px;
    letter-spacing: 0.6px; }
  .banner-2 .banner-content p {
    color: #fff; }

.banner-3 .banner-content {
  left: 0;
  top: auto;
  width: 100%;
  padding: 0 45px;
  bottom: 43px;
  text-align: left; }
  .banner-3 .banner-content .text-1 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-bottom: 12px; }
  .banner-3 .banner-content .text-2 {
    font-size: 15px;
    letter-spacing: 0.6px; }
  .banner-3 .banner-content p {
    color: #fff; }

.jms-row.discount {
  text-align: center; }
  .jms-row.discount p {
    font-size: 18px;
    font-family: "samsungsharpsans-medium";
    margin-bottom: 0;
    background: #ff4800;
    color: #fff;
    padding: 28.5px 0;
    letter-spacing: 0.5px; }
    .jms-row.discount p span {
      color: #fcff00; }

.banner-4 {
  padding: 125px 0; }
  .banner-4 .addon-box {
    padding-left: 140px; }
  .banner-4 .text-1 {
    font-family: "samsungsharpsans-medium";
    color: #ff4800;
    font-size: 24px;
    margin-bottom: 20px; }
  .banner-4 .text-2 {
    font-size: 56px;
    font-family: "samsungsharpsans-bold";
    color: #000;
    letter-spacing: 1.3px;
    line-height: 1.16;
    margin-bottom: 34px; }
  .banner-4 a {
    font-size: 17px;
    color: #0070c9; }
    .banner-4 a::after {
      content: "\f105";
      font-family: FontAwesome;
      font-size: 23px;
      margin-left: 10px;
      position: relative;
      bottom: -2px; }

.banner_bg .addon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 119px 0 60px;
  background-size: cover;
  background: url("../img/h1-banner-bg.png") no-repeat top center; }
  .banner_bg .addon-box p {
    margin-bottom: 0; }
    .banner_bg .addon-box p:not(:last-child) {
      font-family: "samsungsharpsans-bold";
      font-size: 30px;
      color: #fff;
      letter-spacing: 0.5px;
      margin: 0 47px 0 60px; }
  .banner_bg .addon-box .btn-buyitnow {
    padding: 9.5px 16px;
    display: inline-block; }
