@import "mixin";
@import "varians";

.container-fluid {
	max-width: 1790px;
	padding: 0 15px;
	margin: auto;
}
.product-carousel-pag{
	padding-top: 10px;
}
.jms-megamenu .nav{
	text-align: center;
	> li > a{
		line-height: 96px;
	}
}
#jms-vermegamenu-container{
	position: unset;
}
#cart_block{
	display: flex;
	align-items: center;
	.text-custom{
		display: block;
		font-size: 17px;
		color: #000;
		font-family: 'samsungsharpsans-bold';
		margin-left: 12px;
	}
}
.right-icon-group{
	.addon-box{
		margin-left: 30px !important;
	}
}
.banner-space-25{
	.row{
		margin: 0 -12.5px;
		.layout-column{
			padding: 0 12.5px;
		}
	}
}
.banner-type-1{
	.banner-content{
		left: auto;
		right: 48px;
		top: 50%;
		transform: translateY(-50%);
		padding-bottom: 10px;
		.text-1{
			font-family: 'samsungsharpsans-bold';
			font-size: 28px;
			color: #000;
			letter-spacing: 1px;
			line-height: 1.5;
			margin-bottom: 19px;
		}
	}
}
.banner-type-2{
	.banner-content{
		color: #fff;
		width: 100%;
		text-align: center;
		left: 0;
		padding: 0 20px;
		top: 60px;
		.text-1{
			font-family: 'samsungsharpsans-bold';
			font-size: 30px;
			margin-bottom: 11px;
			line-height: 1.4;
		}
		.text-2{
			font-size: 18px;
			letter-spacing: 0.35px;
		}
	}
}
.col-left-custom{
	width: 70.15%;
	.product-preview{
		button.cart-button{
			padding: 11.5px 17px;
			margin: 0 18px;
		}
		.product-info{
			margin-top: 6px;
		}
	}
	.owl-item.active:hover{
		z-index: 2;
	}
	.product_box{
		margin: 0 -5px;
		.owl-stage-outer{
			padding-bottom: 60px;
		}
		.item{
			padding: 15px 5px;
		}
	}
}
.col-right-custom{
	width: 29.85%;
	margin-top: 2px;
}
.blog{
	background: #f6f6f6;
	padding-top: 100px;
	padding-bottom: 96px;
}
#footer {
	margin-top: 97px;
}