.jms-advsearch {
    height: 50px;
    overflow: visible;
    position: relative;
    width: 180px;
    z-index: 1000;
	width:100%;
	float:left;
}
#ajax_advsearch {
    border: 0;
    border-radius: 0;
    height: 46px;
    padding: 0 19px;
    width: 100%;
    float: left;
    padding-left: 22px;
    letter-spacing: 0.2px;
    background: transparent;
    margin-bottom: 0;
}
#ajax_advsearch::-moz-placeholder{
    color: #fff;
}
#ajax_advsearch::-webkit-input-placeholder{
    color: #fff;
}
#advsearch_result {
    left: 50%;
    position: absolute;
    top: calc(100% + 2px);
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    width: 100%;
    z-index: 1000;
    max-width: 720px;
    transform: translateX(-50%);
}
#advsearch_result .result_div {
    background: none repeat scroll 0 0 #fff;
    float: left;
    position: relative;
    width: 100%;
    padding: 15px;
    max-height: 570px;
    overflow: auto;
}
#advsearch_result .result_div .results{}
#advsearch_result .result_div .item {
    float: left;
    padding: 2%;
    width: 100%;
}
#advsearch_result .result_div .item .left-img {
    float: left;
    margin-right: 2%;
    width: 15%;
    border: 1px solid #ebebeb;
    padding: 1%;
}
#advsearch_result .result_div .item .left-img img{
	max-width:100%;
}
#advsearch_result .result_div .right-info {
    float: left;
    width: 83%;
    text-align: left;
    margin-top: -3px;
}
#advsearch_result .right-info .product-link,
#advsearch_result .right-info .content_price{
    padding: 0;
    margin-bottom: 10px;
}
#advsearch_result .result_div h3.title {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}
#advsearch_result .result_div .price .label {
    color: #777;
    float: left;
    line-height: 22px;
    margin: 0 5px 0 0;
    padding: 0;
}
#advsearch_result .result_div .price .value{}
#advsearch_result .result_div .desc {
    color: #999;
    float: left;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
}
#advsearch_result .result_div .desc p{
	padding:0;
	margin:0;
}
#advsearch_result .result_div .right-info.full{
	width:100%;
}
#selector_cat {
    height: 46px;
    border: 0;
}
.jms-advsearch #searchbox {
    border: 2px solid #e1e1e1;
    display: flex;
    align-items: center;
    width: 720px;
}
.jms-advsearch .input-group-addon.icon-drop-down {
    border: 0;
    padding: 0;
    background: transparent;
    position: relative;
}
.jms-advsearch .input-group-addon.icon-drop-down::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    right: 0;
    top: 0;
    background: #e1e1e1;
}
.jms-advsearch .input-group-addon.input-group-search button{
    background: transparent;
    border: 0;
    width: 40px;
    height: 46px;
}
.jms-advsearch .input-group-search button {
    border: 0;
    background: #ff4800;
    padding: 14px 28px;
    color: #fff;
    font-family: 'samsungsharpsans-bold';
    font-size: 17px;
    letter-spacing: 0.6px;
    position: absolute;
    right: -2px;
    top: -2px;
}
.jms-advsearch .input-group.keyword-group {
    position: unset;
}
#searchbox #selector_cat {
    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    cursor: pointer;
    width: 217px;
    padding: 0 13px;
    padding-right: 50px;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 0;
    color: #000;
    font-family: 'samsungsharpsans-medium';
}
#searchbox .input-group-addon.icon-drop-down::after {
    content: "\f107";
    color: #000;
    font-family: "FontAwesome";
    font-size: 20px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}